<?xml version="1.0"?>
<launch>

    <arg name="id" default="1" />
    <arg name="output" default="log" />

    <!-- Simple tracking algorithm -->
    <node pkg="uav_simple_tracking" type="uav_simple_tracking" name="uav_tracking_$(arg id)" output="$(arg output)" required="true">
        <rosparam file="$(find uav_simple_tracking)/param/uav_simple_tracking.yaml" command="load" />
        <rosparam file="$(find position)/param/position.yaml" command="load" />
        <rosparam file="$(find velocity)/param/velocity.yaml" command="load" />
    </node>

</launch>
