<?xml version="1.0"?>
<launch>

    <arg name="id" default="1" />
    <arg name="output" default="log" />

    <!-- Optimal coverage algorithm -->
    <node pkg="uav_optimal_coverage" type="uav_optimal_coverage" name="uav_coverage_$(arg id)" output="$(arg output)" required="true">
        <rosparam file="$(find uav_optimal_coverage)/param/uav_optimal_coverage.yaml" command="load" />
        <rosparam file="$(find swarm_behaviors_position)/param/position.yaml" command="load" />
        <rosparam file="$(find swarm_behaviors_velocity)/param/velocity.yaml" command="load" />
    </node>

</launch>
