<?xml version="1.0"?>
<launch>

    <arg name="id" default="1" />
    <arg name="output" default="log" />

    <!-- Local coverage algorithm -->
    <node pkg="uav_local_coverage" type="uav_local_coverage" name="uav_local_coverage_$(arg id)" output="$(arg output)" required="true">
        <rosparam file="$(find uav_local_coverage)/param/uav_local_coverage.yaml" command="load" />
        <rosparam file="$(find position)/param/position.yaml" command="load" />
    </node>

</launch>
